<form class="profile-search-form" [formGroup]="searchForm">
  <label class="tt-form-label">
    <span>Имя пользователя</span>
    <input type="text" class="tt-form-input" placeholder="Введите данные" formControlName="firstName">
  </label>

  <label class="tt-form-label">
    <span>Telegram username</span>
    <input type="text" class="tt-form-input" placeholder="Введите данные" formControlName="username">
  </label>

  <label class="tt-form-label">
    <span>Навыки</span>
    <input type="text" class="tt-form-input" placeholder="Введите данные" formControlName="stack">
  </label>
</form>
